.MainPage {
  text-align: center;
}

.MainPageHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 1rem;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 6rem;
}

.CardsRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
